.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.total-cover{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(190,245,206,1) 20%, rgba(190,245,210,1) 32%, rgba(144,238,213,1) 57%, rgba(71,135,182,1) 90%, rgba(63,112,157,1) 94%, rgba(50,65,120,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(190,245,206,1) 20%, rgba(190,245,210,1) 32%, rgba(144,238,213,1) 57%, rgba(71,135,182,1) 90%, rgba(63,112,157,1) 94%, rgba(50,65,120,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(190,245,206,1) 20%, rgba(190,245,210,1) 32%, rgba(144,238,213,1) 57%, rgba(71,135,182,1) 90%, rgba(63,112,157,1) 94%, rgba(50,65,120,1) 100%);
  background-repeat: cover;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#324178",GradientType=1);
  height:100vh;
  width: 100vw;  
  background-repeat: no-repeat;
}
.Main-forecast{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c8c8c8",GradientType=1);
  border-radius: 2%;
}
.bordered{
  border-bottom: 1px solid black;
}